html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 500px;
    text-align: center;
    color: #8B8B8B;
    background-color: #FAFAFA;
    border: 1px solid #d8d4d4;
    opacity: 1;
}

.uvod img {
    margin-top: 60px;
    margin-bottom: 40px;
    max-width: 100%;
}

.hlavni-nadpis {
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    margin: 0;
}

.hlavni-nadpis::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: #407BFF;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}

.tlacitko {
    display: block;
    height: 40px;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

.dobrodruzstvi {
    background-color: #407BFF;
    width: 195px;
    padding: 10px 30px;
    margin: 30px auto 10px auto;
    border-radius: 20px;
}

.pohoda {
    background-color: #8B8B8B;
    width: 220px;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 20px;
}

h2 {
    font-size: 16px;
    color: #000000;
    margin-top: 60px;
    margin-bottom: 15px;
}

.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 6px #407BFF1F;
    border-radius: 10px;
    opacity: 1;
    font-size: 13px;
    margin: 28px 0 15px 0;
}

.mapa img {
    width: 11%;
    height: auto;
    margin: 28px 29px 20px 0;
}

.kaktus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 6px #407BFF1F;
    border-radius: 10px;
    opacity: 1;
    font-size: 13px;
    margin: 28px 0 15px 0px;
}

.kaktus img {
    width: 11%;
    height: auto;
    margin: 28px 29px 20px 0;
}

.letadlo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 6px #407BFF1F;
    border-radius: 10px;
    opacity: 1;
    font-size: 13px;
    margin: 28px 0 15px 0;
}

.letadlo img {
    width: 11%;
    height: auto;
    margin: 28px 29px 20px 0;
}

.palma {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 6px #407BFF1F;
    border-radius: 10px;
    opacity: 1;
    font-size: 13px;
    margin: 28px 0 15px 0;
}

.palma img {
    width: 11%;
    height: auto;
    margin: 28px 29px 20px 0;
}

.slunecnik {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 6px #407BFF1F;
    border-radius: 10px;
    opacity: 1;
    font-size: 13px;
    margin: 28px 0 15px 0;
}

.slunecnik img {
    width: 11%;
    height: auto;
    margin: 28px 29px 20px 0;
}

.karavan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 6px #407BFF1F;
    border-radius: 10px;
    opacity: 1;
    font-size: 13px;
    margin: 28px 0 15px 0;
}

.karavan img {
    width: 11%;
    height: auto;
    margin: 28px 29px 20px 0;
}

.ramecek-popis {
    width: 69%;
    height: auto;
    font-size: 13px;
    text-align: left;
}

@media screen and (min-width: 640px) {
    body {
    max-width: 1100px;
    }

    .odkazy {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dobrodruzstvi {
        margin: 30px 10px 0 auto;
    }

    .pohoda {
        margin: 30px auto 0 10px;
    }

    h2 {
        margin-top: 80px;
        margin-bottom: 17px;
    }

    .služby-popis {
        margin: 0;
    }

    .delegati-popis {
        margin: 0;
    }

    .ramecky {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .mapa,
    .kaktus,
    .letadlo,
    .palma,
    .slunecnik,
    .karavan {
        margin-top: 40px;
        margin-bottom: 0;
        flex: 1 1 calc(100% / 3);
        display: block;
    }

    .palma,
    .slunecnik,
    .karavan {
        margin-bottom: 59px;
    }

    .mapa img,
    .kaktus img,
    .letadlo img,
    .palma img,
    .slunecnik img,
    .karavan img {
        width: 20%;
        height: auto;
        margin: 0;
    }

    .ramecek-popis {
        width: 100%;
        height: auto;
        padding: 20px 15px;
        margin: 0;
        text-align: center;
    }

@media screen and (min-width: 1100px) {
     body {
        padding: 0 80px 60px 80px;
        margin: 0;
    }
    
    .uvod {
        display: flex;
        flex-direction: row-reverse;
    }

    .uvod-PC-verze {
        flex: 1 1 41%;
        text-align: left;
        margin-right: 60px;
        margin-bottom: 147px;
    }

    .hlavni-nadpis {
        margin-top: 133px;
    }

    .hlavni-nadpis::after {
        margin-left: 0;
        margin-bottom: 0;
    }

    .uvodni-slovo {
        margin-top: 32px;
        margin-bottom: 30px;
    }

    .dobrodruzstvi {
        margin-left: 0;
        margin-top: 0;
    }

    .pohoda {
        margin-top: 0;
        margin-right: 0;
    }

    .odkazy {
        justify-content: left;
        align-items: center;
    }
    
    .uvod img {
        display: block;
        width: 41%;
        height: auto;
        margin: 60px auto 80px auto;
    }

    .sluzby {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .sluzby-PC-verze {
        flex: 1 1 41%;
        text-align: left;
        margin-left: 60px;
        margin-bottom: 118px;
    }
    
    .ramecky {
        width: 52.9%;
        height: auto;
        gap: 20px;
    }

    .mapa,
    .kaktus,
    .letadlo {
        margin-top: 0;
    }

    .mapa img,
    .kaktus img,
    .letadlo img,
    .palma img,
    .slunecnik img,
    .karavan img {
        width: 26.5%;
        height: auto;
        margin: 40px 65px 0 65px;
    }

    .ramecek-popis {
        padding: 20px 15px 40px 15px;
    }






}   